.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 70px;
}
nav.navbar a.nav-link.active{
    color: white;
    font-weight: 700;
}
nav.navbar a.nav-link{
    color: rgb(88, 86, 86);
    font-weight: bold;
}
